#topBar {
    -fx-background-color: #3f3f3f;
    -fx-alignment: center;
}

#title {
    -fx-alignment: center;
}

#programBack {
    -fx-background-color: #4b4b4b;
    -fx-alignment: center;
}
